/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.purdue-home-tabs-horizontal{
 &__header{
  height:auto;
 }
 &__headers{
  flex-direction: row;
 }
  
  .pu-blocks-tabs__panel{
    &>.block-editor-inner-blocks{
      padding:0.75rem;
    }
    &.active{
      display:block;
    }
  }
}